ProxyMode=0
Server=${ZABBIX_SERVER_HOST}
ServerPort=${ZABBIX_SERVER_PORT}
Hostname=zbx-${TENANT_ID}-${EDGE_SITE_ID}
DBName=/var/lib/zabbix/zabbix_proxy.db
LogType=console
ConfigFrequency=60
DataSenderFrequency=5
HeartbeatFrequency=60
